#logo-header {
    height: 150px;
    margin: 0 0 -50px -5px;
}
#img-accueil {
    border: 2px black dotted;
}

#all-boards {
    display: flex;
    justify-content: space-evenly;   
}

#footer {
    display: flex;
    justify-content: end;
}

#header-icons-section {
    display: flex;
    justify-content: end;
}

.footer-icons {
    width: 42px;
    height: 42px;
    margin-left: 15px;
}

#all-boards figure {
    width: 33%;
}
#all-boards figure figcaption {
    text-align: center;
}

.img-board {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-icons {
    width: 42px;
    height: 42px;
    margin-left: 30px;
    display:flex;
}

#logo-header {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
}

.header-container {
    width: 80%;
    margin : 0 auto
}

header {
    background-color:yellow;
}

body {
    background-color:black;
}