#logo-header {
    height: 150px;
    margin: 0 0 -50px -5px;
}
#img-accueil {
    border: 2px black dotted;
}
.img-board {
    height: 200px;
}
#all-boards {
<<<<<<< HEAD
    flex:auto         
}

#footer {
    display: flex;
    justify-content: end;
}

.footer-icons {
    width: 42px;
    height: 42px;
    margin-left: 15px;
}
=======
    display: flex;
    justify-content: space-evenly;
}
#all-boards figure {
    width: 33%;
}
#all-boards figure figcaption, #all-boards figure img {
    width: 100%;
    text-align: center;
}
>>>>>>> 2e56feb6a7f682f65cbc3f220dfa592f8235b95b
