#logo-header {
    height: 150px;
    margin: 0 0 -50px -5px;
}
#img-accueil {
    border: 2px black dotted;
}
.img-board {
    height: 200px;
}
#all-boards {
    display: flex;
    justify-content: space-evenly;
}
#all-boards figure {
    width: 33%;
}
#all-boards figure figcaption, #all-boards figure img {
    width: 100%;
    text-align: center;
}
